:root {

--fnt-color: #333;



--primary-color-white: #fff;
--primary-color-blue: #042b4b;
--main-timeline-item-bs-color: #000000;

}

html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--fnt-color);
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--primary-color-white);
    box-sizing: border-box;
}

.main__timeline-article-section {
    max-width: 50%;
    margin-bottom: 5rem;
}

.main__timeline-article {
    color: var(--primary-color-white);
    background-color: var(--primary-color-blue);
    box-shadow: 5px 5px 20px rgba(0,0,0, .7);
    max-width: 90%;
    padding: 1rem;
}

.main__timeline-article--paragraph {
    text-align: justify;
}

.main__timeline-circle {
    background-color: var(--primary-color-white);
    border: .5rem solid var(--primary-color-blue);
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}